<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/console-template :: head">
</head>
<body>
    <div id="wrapper">
        <nav th:replace="fragments/console-template :: nav"></nav>         

        <div id="page-wrapper">
		    <div th:if="${not #lists.isEmpty(theList)}">
		        <form th:action="@{/logout}" method="post">
		            <div class="col-sm-10"><h2>Menu Group Listing</h2></div>
		        </form>
		        <table class="table table-striped">
		            <tr>
		                <th>Id</th>
		                <th>Name</th>
		                <th>Icon Class</th>
		                <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
		                <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
		             </tr>
		            <tr th:each="menuGroup : ${theList}">
		                <td th:text="${menuGroup.id}">menuGroup.id</td>
		                <td th:text="${menuGroup.name}">menuGroup.name</td>
		                <td th:text="${menuGroup.iconClass}">menuGroup.iconClass</td>

		                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/console/menuGroup/edit/' + menuGroup.id}">Edit</a></td>
		                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/console/menuGroup/delete/' + menuGroup.id}" onclick="return confirm('Are you sure?')">Delete</a></td>
		            </tr>
		        </table>
		
		    </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
	<div th:replace="fragments/console-template :: footer"></div>
</body>
</html>
