<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PB Dashboard Home | Bootstrap Admin Theme</title>

    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/fonts/font-awesome/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/console.css" /> -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"  th:fragment="nav">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="dashboard" title="Greateq Console">Greateq Console</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li th:classappend="${module == 'dashboard' ? 'active' : ''}"><a href="/console/dashboard"><i class="glyphicon glyphicon-th"></i> Dashboard</a></li>
                    <li class="nav nav-list nav-list-expandable " th:classappend="${module == 'user-list' or module == 'role-list' or module == 'product-list' ? 'nav-list-expanded' : ''}">
                        <a><i class="fa fa-user"></i> User Management <span class="caret"></span></a>
                        <ul class="nav navbar-nav">
                            <li th:classappend="${module == 'user-list' ? 'active' : ''}" ><a href="/console/user-list"><i class="fa fa-table"></i> User List</a></li>
                            <li th:classappend="${module == 'role-list' ? 'active' : ''}" ><a href="/console/role-list"><i class="fa fa-edit"></i> Role List</a></li>
                            <li th:classappend="${module == 'product-list' ? 'active' : ''}" ><a href="/console/product-list"><i class="fa fa-edit"></i> Product List</a></li>
                        </ul>
                    </li>
                    <li th:classappend="${module == 'guru' ? 'active' : ''}" ><a href="/console/guru"><i class="fa fa-magic"></i> Guru</a></li>
                    
                    <li class="nav nav-list nav-list-expandable">
                        <a><i class="fa fa-key"></i> Collapsed Menu Item <span class="caret"></span></a>
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="glyphicon glyphicon-heart"></i>Sub Item 1</a></li>
                            <li><a href="#">Sub Item 2</a></li>
                        </ul>
                    <li>
                    
                    <li class="nav nav-list nav-list-expandable" th:each="moduleGroup : ${session.moduleGroupList}" th:classappend="${moduleGroup.moduleIds.contains(moduleId) ? 'nav-list-expanded' : ''}">
                        <a><i th:class="${moduleGroup.iconClass}"></i> <span th:text="${moduleGroup.name}">moduleGroup.name</span>  <span class="caret"></span></a>
                        <ul class="nav navbar-nav" >
                            <li th:each="module : ${moduleGroup.moduleList}" th:classappend="${moduleId == module.moduleId ? 'active' : ''}"><a href="#" th:href="${module.link}"><i th:class="${module.iconClass}"></i><span th:text="${module.name}">module.name</span></a></li>
                        </ul>
                    <li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="label label-danger">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span sec:authorize="isAuthenticated()">Welcome <span
					sec:authentication="name"></span></span><b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                           <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                           <li class="divider"></li>
                           <li><a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"><i class="fa fa-power-off"></i> Log Out</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>

    </div>
    <!-- /#wrapper -->

	<div th:fragment="footer">
	    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
	    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	
	    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
	
	    <script type="text/javascript" src="/js/theme.js"></script>
	    <script type="text/javascript" src="/js/list-edit.js"></script>
    </div>
</body>
</html>
