<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/console-template :: head">
</head>
<body>
    <div id="wrapper">
        <nav th:replace="fragments/console-template :: nav"></nav>         

        <div id="page-wrapper">

		    <h2>Role Details</h2>
		    <div>
		        <form class="form-horizontal" th:object="${role}" th:action="@{/console/role/update}" method="post">
		            <input type="hidden" th:field="*{id}"/>
		            <input type="hidden" th:field="*{version}"/>
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Role Name:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{name}"/>
		                </div>
		            </div>
		            <div class="form-group row" >
						<div class="form-group blu-margin col-sm-4">
			                <label class="control-label">Granted Users:</label>
						    <select  multiple="multiple" size="10" class="form-control" th:field="*{users}"  id="users">
						    <option th:each="user : *{users}" th:value="${user.id}" th:text="${user.name}"></option>
						    </select>
						</div>		            
			            
						<div class="btn-group-vertical col-sm-2" style="vertical-align: middle;">
							<label class="control-label">&nbsp;</label>
							<button type="button" class="btn ">&lt;-</button>
							<button type="button" class="btn ">-&gt;</button>
							<button type="button" class="btn ">&lt;&lt;-</button>
							<button type="button" class="btn ">-&gt;&gt;</button>
						</div>		            

						<div class="form-group blu-margin  col-sm-4">
			                <label class="control-label">Revoked Users:</label>
						    <select  multiple="multiple" size="10" class="form-control"  id="revokedUsers">
						    <option th:each="user : ${revokedUsers}" th:value="${user.id}" th:text="${user.name}"></option>
						    </select>
						</div>		            
					</div>
		            <div class="form-group">
		                <button type="submit" class="btn btn-primary ">OK</button>
			                <button type="button" class="btn" onclick="history.back();">Cancel</button>
		            </div>
		        </form>
		    </div>
     
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
	<div th:replace="fragments/console-template :: footer"></div>
</body>
</html>
